****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

<h3>Top 10 countries with most projects</h3>

In [29]:
#import all the necessary packages
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
#load json file into a data frame and inspect it 
json_df = pd.read_json('data/world_bank_projects.json')
json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

Our target is top-10 most frequent values in the countryname column. Therefore, we can use pandas value_counts() which outputs the most frequent values in a column in descending order

In [44]:
#use value_counts() to determine countries with most projects
most_projects_countries = json_df.countryname.value_counts().head(10)
#display top-10 values 
most_projects_countries

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

<h3>Top 10 project themes</h3>

Let's inspect the'mjtheme_namecode'column

In [4]:
#output the 'mjtheme_namecode' column
json_df.mjtheme_namecode

0      [{u'code': u'8', u'name': u'Human development'...
1      [{u'code': u'1', u'name': u'Economic managemen...
2      [{u'code': u'5', u'name': u'Trade and integrat...
3      [{u'code': u'7', u'name': u'Social dev/gender/...
4      [{u'code': u'5', u'name': u'Trade and integrat...
5      [{u'code': u'6', u'name': u'Social protection ...
6      [{u'code': u'2', u'name': u'Public sector gove...
7      [{u'code': u'11', u'name': u'Environment and n...
8      [{u'code': u'10', u'name': u'Rural development...
9      [{u'code': u'2', u'name': u'Public sector gove...
10     [{u'code': u'10', u'name': u'Rural development...
11     [{u'code': u'10', u'name': u'Rural development...
12                       [{u'code': u'4', u'name': u''}]
13     [{u'code': u'5', u'name': u'Trade and integrat...
14     [{u'code': u'6', u'name': u'Social protection ...
15     [{u'code': u'10', u'name': u'Rural development...
16     [{u'code': u'10', u'name': u'Rural development...
17     [{u'code': u'8', u'name': u'Human development'...
18     [{u'code': u'8', u'name': u'Human development'...
19     [{u'code': u'2', u'name': u'Public sector gove...
20     [{u'code': u'7', u'name': u'Social dev/gender/...
21     [{u'code': u'9', u'name': u'Urban development'...
22     [{u'code': u'7', u'name': u'Social dev/gender/...
23     [{u'code': u'8', u'name': u'Human development'...
24     [{u'code': u'10', u'name': u'Rural development...
25     [{u'code': u'11', u'name': u'Environment and n...
26     [{u'code': u'4', u'name': u'Financial and priv...
27     [{u'code': u'11', u'name': u'Environment and n...
28     [{u'code': u'10', u'name': u'Rural development...
29     [{u'code': u'7', u'name': u'Social dev/gender/...
                             ...
470    [{u'code': u'5', u'name': u'Trade and integrat...
471    [{u'code': u'10', u'name': u'Rural development...
472    [{u'code': u'11', u'name': u'Environment and n...
473    [{u'code': u'11', u'name': u'Environment and n...
474    [{u'code': u'9', u'name': u'Urban development'...
475    [{u'code': u'4', u'name': u'Financial and priv...
476    [{u'code': u'10', u'name': u'Rural development...
477    [{u'code': u'4', u'name': u'Financial and priv...
478    [{u'code': u'2', u'name': u'Public sector gove...
479    [{u'code': u'7', u'name': u'Social dev/gender/...
480    [{u'code': u'2', u'name': u'Public sector gove...
481    [{u'code': u'8', u'name': u'Human development'...
482    [{u'code': u'10', u'name': u'Rural development...
483    [{u'code': u'11', u'name': u'Environment and n...
484    [{u'code': u'10', u'name': u'Rural development...
485    [{u'code': u'8', u'name': u'Human development'...
486    [{u'code': u'2', u'name': u'Public sector gove...
487    [{u'code': u'11', u'name': u'Environment and n...
488    [{u'code': u'8', u'name': u'Human development'...
489    [{u'code': u'9', u'name': u'Urban development'...
490    [{u'code': u'2', u'name': u'Public sector gove...
491    [{u'code': u'10', u'name': u'Rural development...
492    [{u'code': u'8', u'name': u'Human development'...
493    [{u'code': u'11', u'name': u'Environment and n...
494    [{u'code': u'6', u'name': u'Social protection ...
495    [{u'code': u'4', u'name': u'Financial and priv...
496    [{u'code': u'8', u'name': u'Human development'...
497    [{u'code': u'10', u'name': u'Rural development...
498    [{u'code': u'10', u'name': u'Rural development...
499    [{u'code': u'9', u'name': u'Urban development'...
Name: mjtheme_namecode, Length: 500, dtype: object

It contains nested data. Therefore, we have to use json_normalize to create a table from nested elements

In [11]:
#first, load data as a string 
json_string = json.load(open('data/world_bank_projects.json'))
#create a table with theme code using json_normalize
themes = json_normalize(json_string, 'mjtheme_namecode')
top_10_themes = themes['code'].value_counts().head(10)
top_10_themes

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [13]:
themes.head(20)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

It seems like some names are missing. We can fill in the missing values using the code for each theme. First, we have to sort the existing theme table with respect to code, so each code will be equivalent to the name on the right.

In [19]:
#sort the themes with respect to code name
themes = themes.sort_values(['code','name'])
themes.head(60)

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
497     1  Economic management
2       1  Economic management
88      1  Economic management
175     1  Economic management
458     1  Economic management
204     1  Economic management
220     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
205     1  Economic management
454     1  Economic management
1212    1  Economic management
222     1  Economic management
1078    1  Economic management
647     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
648     1  Economic management
900     1  Economic management
1206    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
1235    1  Economic management
1257    1  Economic management
1057    1  Economic management
1260    1  Economic management
695    10
663    10
435    10
424    10
217    10
275    10
165    10
824    10
121    10
391    10
1013   10
970    10
908    10
1178   10
344    10    Rural development
59     10    Rural development
18     10    Rural development
23     10    Rural development
25     10    Rural development
32     10    Rural development
36     10    Rural development
39     10    Rural development

It would be useful to propagate the missing values backward as the first rows of each code section are empty. However, these cells are empty (not NaN), which prevents us from using .fillna() function. Therefore, we need to replace all empty cells in the name column with NaN values (np.nan).

In [40]:
#replace empty cells with NaN
themes = themes.apply(lambda x: x.str.strip()).replace('', np.nan)
#check for replacement
themes.head(60)

     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
497     1  Economic management
2       1  Economic management
88      1  Economic management
175     1  Economic management
458     1  Economic management
204     1  Economic management
220     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
205     1  Economic management
454     1  Economic management
1212    1  Economic management
222     1  Economic management
1078    1  Economic management
647     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
648     1  Economic management
900     1  Economic management
1206    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
1235    1  Economic management
1257    1  Economic management
1057    1  Economic management
1260    1  Economic management
695    10                  NaN
663    10                  NaN
435    10                  NaN
424    10                  NaN
217    10                  NaN
275    10                  NaN
165    10                  NaN
824    10                  NaN
121    10                  NaN
391    10                  NaN
1013   10                  NaN
970    10                  NaN
908    10                  NaN
1178   10                  NaN
344    10    Rural development
59     10    Rural development
18     10    Rural development
23     10    Rural development
25     10    Rural development
32     10    Rural development
36     10    Rural development
39     10    Rural development

All empty cells were successfully replaced. Now, we can propagate the project names using .fillna()

In [41]:
#use .fillna() to replace NaN values 
themes = themes.fillna(method='bfill')
themes.head()

     code                 name
212     1  Economic management
363     1  Economic management
1024    1  Economic management
1114    1  Economic management
1437    1  Economic management

Now, we can output the values of the top-10 project themes

In [43]:
top_10_project_themes = themes.name.value_counts().head(10)
top_10_project_themes

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64